<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>nBack</h1>
  <table class="icon-table">
    <tr class="icon-row">
      <td class="icon-tile"></td>
      <td class="icon-tile icon-active"></td>
      <td class="icon-tile"></td>
    </tr>
    <tr class="icon-row">
      <td class="icon-tile icon-active"></td>
      <td class="icon-tile"></td>
      <td class="icon-tile"></td>
    </tr>
    <tr class="icon-row">
      <td class="icon-tile"></td>
      <td class="icon-tile"></td>
      <td class="icon-tile icon-active"></td>
    </tr>
  </table>
  <p>Start training your brain<p>
<!--   <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p> -->
</div>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
</div>
